:root {
  --blog-color-primary: #7288a2;
  --blog-color-secondary: #1d2a52;
  --blog-color-background: #e6eef9;
  --blog-color-background-secondary: #bdb6c6;
  --blog-color-background-dark: #7288a2;
}

.Blog {
    background-color: var(--blog-color-background);
    color: var(--blog-color-primary);
}

.BlogContent a:visited {
    color: var(--blog-color-primary) !important;
}

.BlogContent {
    margin: 15px;
    font-family: bit;
}

.Blog-Appbar {
  background-color: var(--blog-color-background-dark);
  color: var(--blog-color-secondary);
  font-family: bit;
}

.Blog-Appbar > button {
  font-family: bit;
  font-size: 1em;
  color: var(--color-secondary);
}

.Blog-Appbar a:link, .Blog-Appbar a:visited {
  color: var(--blog-color-secondary);
}

.Blog-Appbar a:hover {
  color: var(--blog-color-secondary);
}
  
.Blog-Appbar > button {
  font-size: 1em;
  color: var(--blog-color-secondary);
  font-family: bit;
}
  
.Blog-Appbar button:hover {
  background-color: var(--blog-color-background-secondary);
  color: var(--blog-color-secondary);
}
  
.Blog-Appbar [aria-selected="true"] {
  background: var(--blog-color-background-secondary);
  color: var(--blog-color-secondary);
}
  
.Blog-Appbar [aria-selected="false"] {
  color: var(--blog-color-secondary) !important;
}

.Blog-Dropdown {
  background-color: var(--blog-color-background-secondary);
  color: var(--blog-color-secondary);
}

.blog-font {
  font-family: bit;
}