.Scryportal-Appbar {
    background-color: #282c34;
    color: #bdb6c6;
}

.Scryportal-Appbar a:link, .Scryportal-Appbar a:visited {
    color: #bdb6c6;
}

.Scryportal-Appbar a:hover {
    color: #49505f;
}

.Scryportal-Appbar > button {
    font-size: 1em;
}

.Scryportal-Appbar > button:hover {
    background-color: #bdb6c6;
    color: #282c34;
}

.Scryportal-Appbar > [aria-selected="true"] {
    background: #bdb6c6;
    color: #282c34;
}

.Scryportal-Appbar > [aria-selected="false"] {
    color: #282c34 !important;
}

.Scryportal-App-content {
    align-items: center;
    justify-content: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    color: #bdb6c6;
    background-color: #282c34;
}

.Scryportal {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #bdb6c6;
}

.Scryportal > p {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
}

.Scryportal-Dropdown {
    background-color: #282c34;
}

.Scryportal-Panel {
    color: black;
    background-color: white;
    padding: 40px;
}

.Scryportal-Panel > p {
    font-size: medium;
}

.Scryportal-Panel > a {
    color: #1d2a52;
}