.Raytracer {
    background-color: #e6eef9;
    min-height: 100vh;
    color: #7288a2;
}

.RaytracerContent a:visited {
    color: #7288a2 !important;
}

.RaytracerContent {
    margin: 15px;
    font-family: bit;
}

.Raytracer-Appbar {
  background-color: #7288a2;
  color: #1d2a52;
  font-family: bit;
}

.Raytracer-Appbar a:link, .Raytracer-Appbar a:visited {
  color: #1d2a52;
}

.Raytracer-Appbar a:hover {
  color: #1d2a52;
}
  
.Raytracer-Appbar > button {
  font-size: 1em;
  color: #1d2a52;
  font-family: bit;
}
  
.Raytracer-Appbar button:hover {
  background-color: #bdb6c6;
  color: #1d2a52;
}

.Raytracer-Appbar [aria-selected="true"] {
  background: #bdb6c6;
  color: #1d2a52;
}

.Raytracer-Appbar [aria-selected="false"] {
  color: #1d2a52 !important;
}

.Raytracer-Dropdown {
  background-color: #bdb6c6;
  color: #1d2a52;
}