
  
  .Weaponsmith-Appbar {
    background-color: #1d2a52;
    color: #bdb6c6;
    font-family: bit;
  }

  .Weaponsmith-Appbar a:link, .Weaponsmith-Appbar a:visited {
    color: #bdb6c6;
  }

  .Weaponsmith-Appbar > a:hover {
    color: #1d2a52;
  }
  
  .Weaponsmith-Appbar > button {
    font-size: 1em;
    color: #2B2B27;
    font-family: bit !important;
  }
  
  .Weaponsmith-Appbar > button:hover {
    background-color: #bdb6c6;
    color: #1d2a52;
  }
  
  .Weaponsmith-Appbar > [aria-selected="true"] {
    background: #bdb6c6;
    color: #1d2a52;
  }
  
  .Weaponsmith-Appbar > [aria-selected="false"] {
    color: #1d2a52 !important;
  }
  
  .Weaponsmith-App-content {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    color: #bdb6c6;
    background-image: url("./WeaponsmithBackground.png");
    background-color: #1d2a52;
    background-repeat: no-repeat;
    background-size: 100vw, 100vh;
  }
  
  .Weaponsmith {
    background-color: #1d2a52;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #2B2B27;
  }
  
  .Weaponsmith > p {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
.Weaponsmith-Dropdown {
  background-color: #bdb6c6;
  font-family: bit !important;
}

.Weaponsmith-Dropdown a:link, .Weaponsmith-Dropdown a:visited {
  color: #1d2a52;
}

  .Weaponsmith-Panel {
    color: #1d2a52;
    background: url("./WeaponsmithPanel.png") no-repeat;
    background-size: 100% 100%;
    max-width: 500px;
    padding: 40px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }

  .Weaponsmith-Panel > p {
    font-size: medium;
  }

  .Weaponsmith-Panel > a {
    color: #1d2a52;
  }
  