[role = menu] {
    font-size: 15px;
    color: #282c34;
}

.DndAi-Appbar {
    height: 5vh;
    position: fixed;
    float: top;
    width: 100%;
    text-align: left;
    background-color: #282c34;
    color: #bdb6c6;
}

.DndAi-Appbar a:link, .DndAi-Appbar a:visited {
    color: #bdb6c6;
}

.DndAi-Appbar a:hover {
    color: #49505f;
}

.DndAi-Appbar > button {
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    height: 100%;
    min-width: 10%;
    font-size: 1em;
    transition-duration: 0.2s;
}

.DndAi-Appbar > button:hover {
    background-color: #bdb6c6;
    color: #282c34;
}

.DndAi-Appbar > [aria-selected="true"] {
    background: #bdb6c6;
    color: #282c34;
}

.DndAi-Appbar > [aria-selected="false"] {
    color: #282c34 !important;
}

.DndAi-App-content {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    color: #bdb6c6;
    background-color: #282c34;
}

.DndAi {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #bdb6c6;
}

.DndAi > p {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
}

.DndAi-Dropdown {
    background-color: #282c34;
    position: absolute;
    width: 56;
    border-radius: 50;
    transform-origin: top left;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-color: rgb(243 244 246);
    border-radius: 0.375rem; /* 6px */
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    --tw-ring-color: rgb(0 0 0);
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.DndAi-Panel {
    color: black;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    margin: 50px;
}

.DndAi-Panel > p {
    font-size: medium;
}

.DndAi-Panel > a {
    color: #1d2a52;
}

.Dnd-pic {
    width: 30em;
}