.DndAi-Appbar {
    background-color: #282c34;
    color: #bdb6c6;
}

.DndAi-Appbar a:link, .DndAi-Appbar a:visited {
    color: #bdb6c6;
}

.DndAi-Appbar a:hover {
    color: #49505f;
}

.DndAi-Appbar > button {
    font-size: 1em;
}

.DndAi-Appbar > button:hover {
    background-color: #bdb6c6;
    color: #282c34;
}

.DndAi-Appbar > [aria-selected="true"] {
    background: #bdb6c6;
    color: #282c34;
}

.DndAi-Appbar > [aria-selected="false"] {
    color: #282c34 !important;
}

.DndAi-App-content {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    color: #bdb6c6;
    background-color: #282c34;
}

.DndAi {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #bdb6c6;
}

.DndAi > p {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
}

.DndAi-Dropdown {
    background-color: #282c34;
}

.DndAi-Panel {
    color: black;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    margin: 50px;
}

.DndAi-Panel > p {
    font-size: medium;
}

.DndAi-Panel > a {
    color: #1d2a52;
}

.Dnd-pic {
    width: 30em;
}