:root {
  --color-primary: #282c34;
  --color-secondary: #7288a2;
  --color-background: #1A1A14;
  --color-background-dark: #0F0F0C;
}
  
  [role = menu] {
    font-size: 15px;
    color: var(--color-primary);
  }
  
  .About-Me-Appbar {
    height: 5vh;
    position: fixed;
    float: top;
    width: 100%;
    text-align: left;
    background-color: var(--color-background-dark);
    color: var(--color-primary);
    font-family: bit;
  }
  
  .About-Me-Appbar > button {
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    height: 100%;
    min-width: 10%;
    font-size: 1em;
    transition-duration: 0.2s;
    color: var(--color-secondary);
    font-family: bit;
  }
  
  .About-Me-Appbar > button:hover {
    background-color: var(--color-background);
    color: var(--color-secondary);
  }
  
  .About-Me-Appbar > [aria-selected="true"] {
    background: var(--color-background);
    color: var(--color-primary);
  }
  
  .About-Me-Appbar > [aria-selected="false"] {
    color: var(--color-primary) !important;
  }
  
  .About-Me-App-content {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    color: var(--color-secondary);
    font-family: RobotoSlab;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .About-Me {
    background-color: var(--color-background);
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: var(--color-secondary);
  }
  
  .About-Me > p {
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
  }
  
  .Me-Photo {
    width: 300px;
    height: auto;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid white;
  }
  
  .About-Me-Dropdown {
    background-color: var(--color-background);
    position: absolute;
    width: 56;
    border-radius: 50;
    transform-origin: top left;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-color: rgb(243 244 246);
    border-radius: 0.375rem; /* 6px */
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    --tw-ring-color: rgb(0 0 0);
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  }
  
  .DropdownItem {
    padding-left: 0.25rem; /* 4px */
    padding-right: 0.25rem; /* 4px */
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
  }
  
  .DropdownItem > a {
    text-decoration: none;
    color: #2B2B27;
  }

  /* DEMO-SPECIFIC STYLES */
  .typewriter p, .typewriter h3 {
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*white-space: nowrap;*/ /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 2s steps(30, end)
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  